/* home.css */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
}

.headerr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-tl {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}

.welcome-text {
  margin: 0;
  color: #fec200;
  margin-right: 10px;
}

.welcome-name {
  margin: 0;
  color: #fec200;
  font-size: 30px ;
}

.settings-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fec200;
  size: 30px;
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  /* Espaçamento entre os botões */
  padding: 20px 0;
  font-family: 'Poppins', sans-serif;
}

.main-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  background-color: #fec200;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  /* Animação de transição suave */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Sombra sutil para os botões */
  border-radius: 8px;
  /* Cantos arredondados */
  font-family: 'Poppins', sans-serif;
}

.main-button:hover {
  transform: translateY(-5px);
  /* Efeito de elevação ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Sombra aumentada ao passar o mouse */
}

/* Ícones dentro dos botões */
.main-button .fa-icon {
  margin-bottom: 10px;
  /* Espaço entre o ícone e o texto */
  font-size: 2rem;
  /* Tamanho dos ícones */
}